header {
    display: flex;
    justify-content: center;
}

#container-logo {
    margin-top: 4rem;
    width: 116px;
    height: 56px;
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

